<html>
    <body>
        <div>
            <a href="/produtos/form"><button>Cadastrar Produtos</button></a>
        </div><br />
        <div>
            <a href="/produtos"><button>Listar Produtos</button></a>
        </div>
    </body>
</html>